@charset "utf-8";
body, html {
	height: 100%;
}

/* 用户登录界面 */

.user-land, .user-bound {
	height: 100%;
	background: #fff;
}
.user-land .common-footer {
	background: #fff;
}
.user-land .user-land-arrow .user-arrow {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    float: left;
    width: 14.84%;
    height: 3.33rem;
    border: 0;
    background: url("../images/fund17.png") no-repeat 2% -0.1rem;
    background-size: contain;
}
.data-reset .common-header a,
.user-land .common-header a,
.pass-reset .common-header a {
	top: 0.7rem;
	right: 5%;
	width: 15%;
	height: 1.88rem;
	padding-right: 0;
	border: 1px solid #fff;
	border-radius: 8%;
	background: 0;
	line-height: 1.88rem;
	text-align: center;
}
.user-land form {
	padding: 4.17rem 6% 0;
}
.user-land form > div,
.user-bound form > div {
	margin-bottom: 0.83rem;
	background: #fff;
}
.user-land form input, .user-bound form input, .register ul li {
	height: 3.14rem;
}
.user-land form .names,
.user-land form .password,
.user-bound form .names,
.register ul li {
	width: 87%;
	padding-left: 13%;
}
.user-land form .names {
	background: url("../images/user-land1.png") no-repeat 3% center;
	background-size: 7%;
}
.user-land form .code {
	float: left;
	background: url("../images/user-land2.png") no-repeat 8% center;
	background-size: 7%;
}
.user-land form .password {
	background: url("../images/user-land3.png") no-repeat 3% center;
	background-size: 7%;
}
.user-land form > div:nth-child(3) input,
.user-bound form .code input {
	width: 49%;
	padding-left: 13%;
}
.user-land form > div:nth-child(3) span,
.user-bound form .code span {
	float: right;
	width: 35%;
	margin-left: 3%;
	height: 3.14rem;
	box-shadow: 0.02rem 0 0 #ccc,
				-0.02rem 0 0 #ccc,
				0 0.02rem 0 #ccc,
				0 -0.02rem 0  #ccc;
	border-radius: 5px;
	background: url("../images/code.png") no-repeat center center;
	background-size: 100%;
}
.user-land form .remember {
	font-size: 1.17rem;
	color: #999;
}
.user-land form .remember strong,
.user-land form .remember span {
	float: left;
}
.user-land form .remember em {
	float: right;
}
.user-land form .remember strong {
	width: 1rem;
	height: 1rem;
	margin-right: 3%;
	box-shadow: 0.02rem 0 0 #ccc,
				-0.02rem 0 0 #ccc,
				0 0.02rem 0 #ccc,
				0 -0.02rem 0  #ccc;
	border-radius: 5px;
}
.data-reset form:nth-of-type(1) > div:nth-child(5) .sub-btn,
.pass-reset form:nth-of-type(1) > div:nth-child(5) .sub-btn,
.user-land form input[type="submit"],
.user-bound form input[type="submit"] {
	width: 100%;
	margin-top: 3.5rem;
	background: #c40c0d;
	text-align: center;
	text-indent: 0;
	color: #fff;
	border-radius: 5px;
}
.user-bound form input[type="submit"] {
	margin-top: 2.5rem;
	margin-bottom: 6rem;

}
/* 用户绑定页面的设置 */

.user-bound form {
	padding: 2.17rem 6% 0;
	background: #fff;
}
.user-bound .numbers {
	background: #eee;
}
.user-bound .numbers h2 {
	width: 52%;
	height: 3.42rem;
	margin: 0 auto;
	text-align: center;
	line-height: 3.42rem;
}
.pass-reset .numbers h2 {
	width: 100%;
}
.data-reset .numbers b,
.pass-reset .numbers b {
	position: relative;
	display: block;
	height: 3.42rem;
}
.user-bound .numbers .jiaoyi {
	position: relative;
	float: left;
	color: #ccc;
}
.user-bound .numbers .youke {
	position: relative;
	float: right;
	color: #ccc;
	
}
.user-bound .numbers strong {
	position: absolute;
	left: 50%;
	top: 2.3rem;
	margin-left: -0.5rem;
	border: 0.5rem solid rgba(238, 238, 238, 0);
	box-shadow: 0 0.1rem 0 #fff;
}
.user-bound .numbers .startSd {
	position: absolute;
	left: 62%;
	top: 5.7rem;
	margin-left: -0.5rem;
	border: 0.5rem solid rgba(238, 238, 238, 0);
	box-shadow: 0 0.1rem 0 #fff;
}
.user-bound .numbers .start, .user-bound .numbers .startSd {
	border-bottom-color: #fff;
}
.user-bound .numbers .colors {
	color: #000;
}
.user-bound form:nth-of-type(1) > div:nth-child(1) input {
	background: url("../images/zhanghao.png") no-repeat 3% center;
	background-size: 7%;
}
.register form:nth-of-type(2) > div:nth-child(1) input,
.user-bound form:nth-of-type(1) > div:nth-child(2) input {
	background: url("../images/user-land1.png") no-repeat 3% center;
	background-size: 7%;
}
.user-bound form:nth-of-type(1) > div:nth-child(3) input {
	background: url("../images/shenfenzheng.png") no-repeat 3% center;
	background-size: 7%;
}
.data-reset form:nth-of-type(1) > div:nth-child(2) input,
.register form:nth-of-type(2) > div:nth-child(3) input,
.user-bound form:nth-of-type(1) > div:nth-child(4) input {
	background: url("../images/phone.png") no-repeat 3% center;
	background-size: 9%;
}
.pass-reset form:nth-of-type(1) > div:nth-child(2) input,
.pass-reset form:nth-of-type(1) > div:nth-child(3) input,
.register form:nth-of-type(2) > div:nth-child(5) input,
.register form:nth-of-type(2) > div:nth-child(6) input,
.user-bound form:nth-of-type(1) > div:nth-child(5) input {
	background: url("../images/user-land2.png") no-repeat 3% center;
	background-size: 8%;
}
.data-reset form:nth-of-type(1) > div:nth-child(4) input,
.pass-reset form:nth-of-type(1) > div:nth-child(4) input {
	float: left;
	background: url("../images/user-land3.png") no-repeat 5% center;
	background-size: 10%;
}
.register form:nth-of-type(2) > div:nth-child(4) input,
.user-bound form:nth-of-type(1) > div:nth-child(6) input {
	float: left;
	background: url("../images/user-land3.png") no-repeat 3% center;
	background-size: 8%;
}
.user-bound form:nth-of-type(1) .remember span {
	float: left;
	margin-right: 2%;
	color: #999;
}
.user-bound form:nth-of-type(1) .remember a {
	text-decoration: underline;
	color: #999;
	float: left;
}
.register form:nth-of-type(2) .code span,
.user-bound form:nth-of-type(1) .code span {
	background: 0;
	line-height: 3.14rem;
	text-align: center;
	color: red;
	box-shadow: 1px 0 0 red,
			-1px 0 0 red,
			0 1px 0 red,
			0 -1px 0  red;
}
/*.register form:nth-of-type(1) {
	display: none;
}*/
.register form:nth-of-type(2) > div:nth-child(2) input {
	background: url("../images/user-mail.png") no-repeat 3% center;
	background-size: 7%;	
}
.register ul {
}
.register ul li {
	border-radius: 5px;
	line-height: 3.14rem;
	color: #ccc;
	box-shadow: inset 1px 0 0 #ccc,
				inset -1px 0 0 #ccc,
				inset 0 1px 0 #ccc,
				inset 0 -1px 0  #ccc;
}
.data-reset form:nth-of-type(1) > div:nth-child(1) input {
	background: url("../images/user-mail.png") no-repeat 3% center;
	background-size: 7%;
}
.data-reset form:nth-of-type(1) > div:nth-child(3) input {
	background: url("../images/position.png") no-repeat 3% center;
	background-size: 5%;
}
.account nav {
	padding-top: 1.67rem;
}
.account nav div {
	padding-left: 4%;
	background: url("../images/arrow-red.png") no-repeat 91% center;
	background-size: 3%;
	box-shadow: inset 0 -1px 0 #ccc;
}
.account nav a {
	display: block;
	height: 3.83rem;
	padding-left: 16%;
	line-height: 3.83rem;
	color: #000;
	font-size: 1.17rem;
}
.account nav div:nth-child(1) a {
	background: url("../images/nav5.png") no-repeat left center;
	background-size: 10%;
}
.account nav div:nth-child(2) a {
	background: url("../images/ziguan.png") no-repeat left center;	
	background-size: 10%;
}
.account nav div:nth-child(3) a {
	background: url("../images/nav1.png") no-repeat left center;	
	background-size: 10%;
}
.account nav div:nth-child(4) a {
	background: url("../images/nav6.png") no-repeat left center;	
	background-size: 10%;
}
.account nav div:nth-child(5) a {
	background: url("../images/jingzhi.png") no-repeat left center;	
	background-size: 10%;
}
.user-land-arrow {
	position: relative;
	background: #cc0000;
}
.register {
	padding-top: 3.33rem;
}
.register-head {
	background: #cc0000;
}