@charset 'utf-8';
 html, body {
    margin: 0 auto;
    background: #f2f2f2;
 }
 /* 基金首页 */
.fund,
.fund-details,
.fund-hot,
.fund-fangda，
.fund-me,
.fund-net,
.fund-rate，
.fund-value {
    width: 100%;
    height: 100%;
    margin: 0 auto 4.83rem;
} 
.fund-head {
    position: fixed;
    top: 0;
    z-index: 2;
    max-width: 640px;
    width: 100%;
    height: 3.33rem;
    background: #c60001 url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
    box-shadow: 0.1rem 1rem 1.5rem 0 #dadada;
}
/*头部返回键*/
.fund-head a:nth-child(1) {
    display: block;
    float: left;
    width: 14.84%;
    height: 3.33rem;
    background:  url("../images/fund17.png")  no-repeat center center;
    background-size: contain ;
}
/*购买*/
.fund-head a:nth-child(3) {
    float: right;
    width: 15.94%;
    height: 3.33rem;
    text-align: center;
    line-height: 3.33rem;
    color: #fff;
    font-size: 1.17rem;
}
.fund-details .fund-head a:nth-child(3),
.fund-rate .fund-head a:nth-child(3),
.fund-up-down .fund-head a:nth-child(3),
.fund-value .fund-head a:nth-child(3) {
    background:  url("../images/fund14.png")  no-repeat center center;
    background-size: contain ;
}
.fund-hot .fund-head a:nth-child(3) {
    background:  url("../images/fund6.png")  no-repeat center center;
    background-size: 20px ;
}
/*头部文字*/
.fund .fund-head h1,
.fund-hot .fund-head h1,
.fund-me .fund-head h1 {
    line-height: 3.42rem;
    font-size: 1.5rem;
}
.fund-head h1 {
    overflow: hidden;
    float: left;
    width: 69.22%;
    height: 3.33rem;
    line-height: 2.70rem;
    text-align: center;
}
.fund-head h1 strong {
    display: block;
    height: 1.33rem;
    font-size: 1.33rem;
}
.fund-head h1 span {
    font-size: 0.83rem;
}
/*大图滚动模块*/
.fund-pic img {
    width: 100%;
    height: 14rem;
    margin-top: 3.42rem;
    margin-bottom:  1.88rem ;
}
/*内容模块*/
.fund section {
    width: 100%;
    min-height: 28.21rem;
    margin-bottom: 4.83rem;
}
.fund-main {
    padding:0 0.78% 0 7%;
}
.fund-main li {
    float: left;
    margin: 0 3.5% 1.88rem 0 ;
    text-align: center;
    font-size: 1.08rem;
}

.fund-main li  a {
    display: block;
    width: 5.17rem;
    height: 5.17rem;
    margin-bottom: 0.58rem;
    border-radius: 20%;
    background: #ce3c2c url("../images/fund15.png") no-repeat center center;
    background-size: 60%;
}
.fund-main li:nth-child(2) a {
    background: #679dd2 url("../images/fund9.png") no-repeat 62.69% 1rem;
    background-size: 60%;
}
.fund-main li:nth-child(3) a {
    background: #c66018 url("../images/fund2.png") no-repeat center center;
    background-size: 60%;
}
.fund-main li:nth-child(4) a {
    background: #45537b url("../images/fund16.png") no-repeat 45.69% center;
    background-size: 60%;
}
.fund-main li:nth-child(5) a {
    background: #c94f9a url("../images/fund11.png") no-repeat center center;
    background-size: 60%;
}

/* 基金详情页*/
/*内容导航模块*/
.details-nav {
    overflow: hidden;
    width: 94%;
    height: 2.58rem;
    margin-top: 3.33rem;
    padding: 0.75rem 3% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.details-nav li {
    float: left;
    width: 24%;
    height: 1.92rem;
    text-align: center;
    line-height: 1.92rem;
    border-radius: 8%;
}
.details-nav a {
    width: 5.79rem;
    height: 1.92rem;
    color: #fff;
}
.details-nav li:nth-child(1) {
    border: 0.1rem solid #fff;
}
/* 表格内容 */
.details-table ul {
    width: 96.88%;
    min-height: 18rem;
    padding: 0.38rem 1.56% 0.75rem;
    background: #fff;
}
.details-table li {
    width: 100%;
    height: 2.92rem;
    line-height: 2.92rem;
}
.details-table li strong, .details-table li em {
    display: block;
    float: left;
    width: 26.60%;
    height: 2.90rem;
    padding-left: 3.14%;
    border: 0.1rem solid  #dcdcdc;
}
.details-table li em {
    width: 65.51%;
    height: 2.90rem;
}


 /* 下拉列表 */
.fund-details .con {
    width: 100%;
    height: 33.96rem;
}
.con ul {
    overflow: hidden;
    width: 100%;
    height: 3.42rem;
    margin-bottom: 0.1rem;
    box-shadow: 0 0.1rem 0 0 #d12626;
}
.fund-details ul:nth-child(1) {
    border: 0;
}
.fund-details ul:nth-child(2) {
    box-shadow: 0.1rem 0.1rem 0 0 #d12626;
}
.fund-details .con .nav-li {
    width: 100%;
    height: 3.42rem;
    padding: 0;
    border: 0;
    background: #f3f3f3;
    
}
.fund-details .con .nav-li span {
    font-size: 1.17rem;
    color: #000;
}
.fund-details .con .nav-li .left {
    float: left;
    width: 13%;
    height: 3.42rem;
    background: url(../images/con-arrow.png) 0 0 no-repeat;
    background-size: contain;
}
.fund-details .con .nav-li .nav-con {
    float: left;
    width: 75%;
    height: 3.42rem;
    line-height: 3.42rem;
    font-size: 1.17rem;
    
}
.fund-details .con .nav-li .right {
    float: left;
    width: 12%;
    height: 3.42rem;
    background: url(../images/ellipsis.png) 0 0 no-repeat;
    background-size: contain;
}

.fund-details .con ul li {
    padding: 0.63rem 0 0.63rem 4%;
    margin-bottom: 0.1rem;
    box-shadow: 0rem 0.1rem 0 0 #cccccc;
    background: #fff;
}
.fund-details  li h2 {
    width: 100%;
    height: 1.71rem;
    font-size: 1.17rem;
    line-height: 1.71rem;
    color: #535353;
}
.fund-details li span {
    display: block;
    width: 30%;
    height: 1.2rem;
    font-size: 0.92rem;
    line-height: 1.2rem;
    color: #b5b5b5;
}

/* 热销基金 */
/*内容导航模块*/
.fund-hot .hot-nav {
    overflow: hidden;
    width: 96.88%;
    height: 6.54rem;
    margin-top: 3.33rem;
    padding: 0 1.56% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.fund-hot .hot-nav input {
    width: 95%;
    height: 2.42rem;
    padding-left: 5%;
    margin: 0.67rem 0 0.83rem;
    background: #eee url("../images/fund3.png") no-repeat 95% center;
    background-size: 8%;
    border-radius: 0.3rem;
    color: #999;

}
.fund-hot .hot-nav ul {
    width: 93%;
    height: 2rem;
    padding: 0 3.5% 0;
}
.fund-hot .hot-nav li {
    float: left;
    width: 19.8%;
    height: 1.92rem;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 8%;
    font-size: 1.17rem;
}
.fund-hot .hot-nav a {
    color: #fff;
}
.fund-hot .hot-nav li:nth-child(1) {
    border: 0.1rem solid #fff;
}

/* 我的自选 */
/*内容导航模块*/
.me-nav {
    overflow: hidden;
    width: 96.88%;
    height: 6.54rem;
    margin-top: 3.33rem;
    padding: 0 1.56% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.me-nav input {
    width: 95%;
    height: 2.42rem;
    padding-left: 5%;
    margin: 0.67rem 0 0.83rem;
    background: #eee url("../images/fund3.png") no-repeat 95% center;
    background-size: 8%;
    border-radius: 0.3rem;
    color: #999;

}
.me-nav ul {
    width: 93%;
    height: 2rem;
    padding: 0 3.5% 0;
}
.me-nav li {
    float: left;
    width: 19.8%;
    height: 1.92rem;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 8%;
    font-size: 1.17rem;
}
.me-nav a {
    color: #fff;
}
.me-nav li:nth-child(1) {
    border: 0.1rem solid #fff;
}

/*基金净值*/
/*内容导航模块*/
.net-nav {
    overflow: hidden;
    width: 96.88%;
    height: 6.54rem;
    margin-top: 3.33rem;
    padding: 0 1.56% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.net-nav input {
    width: 95%;
    height: 2.42rem;
    padding-left: 5%;
    margin: 0.67rem 0 0.83rem;
    background: #eee url("../images/fund3.png") no-repeat 95% center;
    background-size: 8%;
    border-radius: 0.3rem;
    color: #999;

}
.net-nav ul {
    width: 93%;
    height: 2rem;
    padding: 0 3.5% 0;
}
.net-nav li {
    float: left;
    width: 19.8%;
    height: 1.92rem;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 8%;
    font-size: 1.17rem;
}
.net-nav a {
    color: #fff;
}
.net-nav li:nth-child(1) {
    border: 0.1rem solid #fff;
}



/* 基金费率 */
/*内容导航模块*/
.rate-nav {
    overflow: hidden;
    width: 94%;
    height: 2.58rem;
    margin-top: 3.33rem;
    padding: 0.75rem 3% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.rate-nav li {
    float: left;
    width: 5.39rem;
    height: 1.92rem;
    text-align: center;
    line-height: 1.92rem;
    border-radius: 8%;
}
.rate-nav a {
    width: 5.79rem;
    height: 1.92rem;
    color: #fff;
}
.rate-nav li:nth-child(4) {
    border: 0.1rem solid #fff;
}

.rate-main {
    width: 96%;
    padding: 0.83rem 2% 0;
    background: #fff;
}
.rate-main dl {
    width: 100%;
    padding-bottom: 1.21rem;
    text-align: center;
    font-size: 1.17rem;
}
.rate-main dt {
    overflow: hidden;
    width: 99.2%;
    height: 2.88rem;
    border: 0.1rem solid #ccc;
    background: #f3f3f3;
    line-height: 2.88rem;

}
.rate-main dd span, .rate-main dd em {
    overflow: hidden;
    float: left;
    width: 49.1%;
    height: 2.88rem;
    border: 0.1rem solid #ccc;
    line-height: 2.88rem;
    color: #666;
}
.rate-main dd em {
    width: 100%;
}
.rate-main dd p {
    width: 100%;
    min-height: 6.29rem;
    padding-top: 1.25rem;
    padding-bottom: 2rem;
    text-align: center;
}


/*涨跌幅*/
/*内容导航模块*/
.up-down-nav {
    overflow: hidden;
    width: 94%;
    height: 2.58rem;
    margin-top: 3.33rem;
    padding: 0.75rem 3% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.up-down-nav li {
    float: left;
    width: 5.39rem;
    height: 1.92rem;
    text-align: center;
    line-height: 1.92rem;
    border-radius: 8%;
}
.up-down-nav a {
    width: 5.79rem;
    height: 1.92rem;
    color: #fff;
}
.up-down-nav li:nth-child(2) {
    border: 0.1rem solid #fff;
}


/*基金费率*/
/*内容导航模块*/
.value-nav {
    overflow: hidden;
    width: 94%;
    height: 2.58rem;
    margin-top: 3.33rem;
    padding: 0.75rem 3% 0;
    background: url("../images/fundbg.png") repeat-x ;
    background-size: contain;
    color: #fff;
}
.value-nav li {
    float: left;
    width: 5.39rem;
    height: 1.92rem;
    text-align: center;
    line-height: 1.92rem;
    border-radius: 8%;
}
.value-nav a {
    width: 5.79rem;
    height: 1.92rem;
    color: #fff;
}
.value-nav li:nth-child(3) {
    border: 0.1rem solid #fff;
}
/*图片*/
.value-pic img {
    width: 100%;
    height: 14.92rem;
}






/*  onone:资管一对一和一对多；
 *  fund-hot：热销基金；
 *
 * 
 */

.date-data {
    width: 100%;
    padding-bottom: 6rem;
}
.onone .date-data {
    table-layout: fixed;
}
.fund-hot .date-data {
    margin-top: 3.33rem;
}
.fund-fangda .date-data {
    padding-bottom: 4rem;
}


.date-data thead tr {
    width: 100%;
    height: 3.33rem;
    background: #eee;
}
.onone .date-data thead tr {
    border-bottom: 1rem solid #d12626;
    line-height: 3.33rem;
    font-size: 1.17rem;  
}

.onone .date-data thead th {
    text-align: center;
    box-shadow: 0 0.05rem 0 0 red;
}
.fund-hot .date-data thead th,
.fund-me .date-data thead th,
.fund-vip .date-data thead th, 
.fund-net .date-data thead th {
    color: #999;
}
.fund-hot .date-data thead th,
.fund-fangda .date-data thead th,
.fund-up-down .date-data thead th,
.fund-me .date-data thead th,
.fund-vip .date-data thead th,
.fund-net .date-data thead th,
.fund-value .date-data thead th {
    box-shadow: 0 0.05rem 0 0 #ccc;
    text-align: center;
    font-size: 1.17rem; 
}
.fund-hot .head-con,
.fund-me .head-con,
.fund-vip .head-con,
.fund-net .head-con {
    color: #000;
}


.date-data tbody tr {
    width: 96%;
    height: 3.33rem;
    padding: 0 2%;
    background: #fff;
    border-bottom: 10px solid #ccc;
    text-align: center;
    font-size: 1.17rem;
}
.fund-me tbody tr,
.fund-vip tbody tr,
.fund-net tbody tr {
    font-size: 0.83rem;
}
.onone .date-data tbody tr,
.fund-fangda .date-dat tbody tr,
.fund-up-down .date-data tbody tr,
.fund-value .date-data tbody tr  {
    line-height: 3.33rem;  
}
.fund-hot .date-data tbody tr {
    color: #666;
}


.date-data tbody td {
    overflow: hidden;
    width: 25%;
    height: 3.13rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 0.1rem 0 0 #ccc;
}
.onone .date-data tbody td {
    line-height: 3.13rem;
    color: #d50000;    
}
.onone .date-data tbody td:nth-child(1){
    color: #333;
}
.fund-vip .date-data tbody td {
    background: #fff;
}
.fund-hot tbody em,
.fund-me tbody em,
.fund-vip tbody em,
.fund-net tbody em {
    display: block;
    font-size: 1.17rem;
}
.fund-fangda .date-data tbody em {
   color: red;
}
.fund-me tbody i,
.fund-vip tbody i,
.fund-net tbody i {
    display: block;
    font-size: 1.5rem;
    color: red;
}
.fund-hot .fo {
    font-size: 0.83rem;
}
.fund-fangda .res ,
.fund-up-down .gres,
.fund-up-down .res,
.fund-me .res,
.fund-vip .res,
.fund-net .res,
.fund-value .res  {
    display: block;
    width: 5.71rem;
    height: 2.5rem;
    margin: 0.32rem auto 0;
    border-radius: 0.5rem;
    line-height: 2.5rem; 
    color: #fff;
}
.fund-up-down .gres {
    background: #3db608;
}
.fund-up-down .res,
.fund-me .res,
.fund-value .res {
   background: #d50000;
}
.fund-hot .res {
    font-size: 1.5rem;
    color: red;
    box-shadow: 0 0.1rem 0 0 #ccc;
}
.fund-fangda .res,
.fund-net .res {
    background: #d50000;
    box-shadow: 0 0.1rem 0 0 #ccc;
}
.fund-vip .res {
    background: #d50000;
    line-height: 2.5rem; 
    box-shadow: 0 0.1rem 0 0 #ccc;
}
/*负值*/
.onone .date-data tr .negative {
    color: #3db608;
}




/*底部导航模块*/
.footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    max-width: 640px;
    height: 4.83rem;
    border: 1px solid #e0e0e0;
    background: #f2f2f2;
}
.footer a {
    float: left;
    width: 25%;
    height: 1.83rem;
    padding-top: 3rem;
    text-align: center;
    color: #3d3d3d;
}
.footer a:nth-child(1) {
    background: url("../images/footer-1.png") no-repeat center 0.58rem;
    background-size: 30%;
}
.footer a:nth-child(2) {
    background: url("../images/footer-2.png") no-repeat center 0.58rem;
    background-size: 35%;   
}
.footer a:nth-child(3) {
    background: url("../images/footer-3.png") no-repeat center 0.58rem;
    background-size: 40%;   
}
.footer a:nth-child(4) {
    background: url("../images/footer-4.png") no-repeat center 0.58rem;
    background-size: 29%;   
}