@charset "utf-8";
.common-header {
	position: fixed;
	top: 0;
	max-width: 640px;
	width: 100%;
	height: 3.33rem;
	background: #cc0000;
	line-height: 3.33rem;
	font-size: 1.5rem;
	color: #fff;
	z-index: 9;
	/*box-shadow: 0 0.1rem 0 0 red;*/
}
.common-header em {
	position: relative;
	display: block;
	width: 32%;
	margin: 0 auto;
	text-align: center;
}
.common-header a {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 8%;
	background: url("../images/arrow.png") no-repeat 65% 1.25rem;
	background-size: 12%;
	font-size: 1.08rem;
	color: #fff;
}
.common-footer {
	position: fixed;
	bottom: 0;
	max-width: 640px;
	width: 100%;
	height: 4.83rem;
	border: 1px solid #e0e0e0;
	background: #fff;
}
.clear-fix {
	/*position: static;*/
}
.common-footer a {
	float: left;
	width: 25%;
	height: 1.83rem;
	padding-top: 3rem;
	text-align: center;
	color: #3d3d3d;
}
.common-footer a:nth-child(1) {
	background: url("../images/footer-1.png") no-repeat center 0.58rem;
	background-size: 30%;
}
.common-footer a:nth-child(2) {
	background: url("../images/footer-2.png") no-repeat center 0.58rem;
	background-size: 35%;	
}
.common-footer a:nth-child(3) {
	background: url("../images/footer-3.png") no-repeat center 0.58rem;
	background-size: 40%;	
}
.common-footer a:nth-child(4) {
	background: url("../images/footer-4.png") no-repeat center 0.58rem;
	background-size: 29%;	
}
.common-header .index-user-detail {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    float: left;
    width: 14.84%;
    height: 3.33rem;
    border: 0;
    background: url("../images/three-line.png") no-repeat center center;
    background-size: 45%;
}
.common-header .user-arrow {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    float: left;
    width: 14.84%;
    height: 3.33rem;
    border: 0;
    background: url("../images/fund17.png") no-repeat 2% -0.2rem;
    background-size: contain;
}
input {
	-webkit-appearance: none;
	font-size: 1.1rem;
	outline: none;
	border: none;
	box-shadow: 1px 0 0 #ccc,
				-1px 0 0 #ccc,
				0 1px 0 #ccc,
				0 -1px 0  #ccc;
	border-radius: 5px;
}