@charset "utf-8";
html, body {
 	margin: 0 auto;
 	background: #fff;
 }
 /* 基金首页 */
.fund-fangda {
	width: 100%;
	height: 100%;
	margin: 0 auto 4.83rem;
}
.fund-head {
	position: fixed;
	top: 0;
	z-index: 2;
	max-width: 640px;
	width: 100%;
	height: 3.42rem;
	background: #be0000;
	color: #fff;
	box-shadow: 0.1rem 1rem 1.5rem 0 #dadada;
}
/*头部返回键*/
.fund-head a:nth-child(1) {
	display: block;
	float: left;
	width: 14.84%;
	height: 3.42rem;
	background:  url("../images/fund17.png")  no-repeat center center;
	background-size: contain ;
}
/*头部文字*/
.fund-head h1 {
	overflow: hidden;
	float: left;
	width: 69.22%;
	height: 3.42rem;
	line-height: 3.42rem;
	text-align: center;
	font-size: 1.5rem;
}

/* 用户登录界面 */

.user-land, .user-bound {
	height: 100%;
	padding-top: 3.33rem;
	background: #fff;
}
.user-land .common-footer {
	background: #fff;
}
.user-land .common-header a {
	top: 0.7rem;
	right: 5%;
	width: 15%;
	height: 1.88rem;
	padding-right: 0;
	border: 1px solid #fff;
	border-radius: 8%;
	background: 0;
	line-height: 1.88rem;
	text-align: center;
}
.user-land form {
	padding: 4.17rem 6% 0;
}
.user-land form > div,
.user-bound form > div {
	margin-bottom: 0.83rem;
}
.user-land form input, .user-bound form input {
	height: 3.33rem;
}
.user-land form .names,
.user-land form .password,
.user-bound form .names {
	width: 87%;
	padding-left: 13%;
}
.user-land form .names {
	background: url("../images/user-land1.png") no-repeat 3% center;
	background-size: 7%;
}
.user-land form .code {
	float: left;
	background: url("../images/user-land2.png") no-repeat 8% center;
	background-size: 7%;
}
.user-land form .password {
	background: url("../images/user-land3.png") no-repeat 3% center;
	background-size: 7%;
}
.user-land form > div:nth-child(3) input,
.user-bound form .code input {
	width: 47%;
	padding-left: 13%;
}
.user-land form > div:nth-child(3) span,
.user-bound form .code span {
	float: right;
	width: 35%;
	margin-left: 3%;
	height: 3.14rem;
	box-shadow: 0.02rem 0 0 #ccc,
				-0.02rem 0 0 #ccc,
				0 0.02rem 0 #ccc,
				0 -0.02rem 0  #ccc;
	border-radius: 5px;
	background: url("../images/code.png") no-repeat center center;
	background-size: 100%;
}
.user-land form .remember {
	font-size: 1.17rem;
	color: #999;
}
.user-land form .remember strong,
.user-land form .remember span {
	float: left;
}
.user-land form .remember em {
	float: right;
}
.user-land form .remember strong {
	width: 1rem;
	height: 1rem;
	margin-right: 3%;
	box-shadow: 0.02rem 0 0 #ccc,
				-0.02rem 0 0 #ccc,
				0 0.02rem 0 #ccc,
				0 -0.02rem 0  #ccc;
	border-radius: 5px;
}
.user-bound form input[type="submit"] {
	width: 100%;
	margin-top: 3.5rem;
	background: #c40c0d;
	text-align: center;
	text-indent: 0;
	color: #fff;
	border-radius: 5px;
}
/* 用户绑定页面的设置 */

.user-bound form {
	padding: 4.17rem 6% 0;
}
.user-bound .numbers {
	height: 3.42rem;
	background: #eee;
}
.user-bound form > div:nth-child(1) input {
	background: url("../images/zhanghao.png") no-repeat 3% center;
	background-size: 7%;
}
.user-bound form > div:nth-child(2) input {
	background: url("../images/user-land1.png") no-repeat 3% center;
	background-size: 7%;
}
.user-bound form > div:nth-child(3) input {
	background: url("../images/shenfenzheng.png") no-repeat 3% center;
	background-size: 7%;
}
.user-bound form > div:nth-child(4) input {
	background: url("../images/phone.png") no-repeat 3% center;
	background-size: 7%;
}
.user-bound form > div:nth-child(5) input {
	float: left;
	background: url("../images/user-land3.png") no-repeat 3% center;
	background-size: 12%;
}
.user-bound form .remember span {
	float: left;
}
.user-bound form .remember em {
	float: right;
}
.user-bound form .code span {
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	box-shadow: 0.02rem 0 0 #d20001,
			-0.02rem 0 0 #d20001,
			0 0.02rem 0 #d20001,
			0 -0.02rem 0  #d20001;
	color: #d20001;
}
/*底部导航模块*/
.fund-fangda .footer {
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	max-width: 640px;
	height: 4.83rem;
	background: #f2f2f2;
	border: 1px solid #e0e0e0;

}
.fund-fangda .footer a {
	float: left;
	width: 25%;
	height: 1.83rem;
	padding-top: 3rem;
	text-align: center;
	color: #3d3d3d;
}
.fund-fangda .footer a:nth-child(1) {
	background: url("../images/footer-1.png") no-repeat center 0.58rem;
	background-size: 30%;
}
.fund-fangda .footer a:nth-child(2) {
	background: url("../images/footer-2.png") no-repeat center 0.58rem;
	background-size: 35%;	
}
.fund-fangda .footer a:nth-child(3) {
	background: url("../images/footer-3.png") no-repeat center 0.58rem;
	background-size: 40%;	
}
.fund-fangda .footer a:nth-child(4) {
	background: url("../images/footer-4.png") no-repeat center 0.58rem;
	background-size: 29%;	
}
input {
	margin-bottom: 1rem;
	-webkit-appearance: none;
	font-size: 1.1rem;
	outline: none;
	border: none;
	box-shadow: 1px 0 0 #ccc,
				-1px 0 0 #ccc,
				0 1px 0 #ccc,
				0 -1px 0  #ccc;
	border-radius: 5px;
}