@charset 'utf-8';
 html, body {
 	margin: 0 auto;
 	background: #f2f2f2;
 }
 /* 基金首页 */
.fund-fangda {
	width: 100%;
	height: 100%;
	margin: 0 auto 4.83rem;
}
.fund-head {
	position: fixed;
	top: 0;
	z-index: 2;
	max-width: 640px;
	width: 100%;
	height: 3.33rem;
	background: #c60001 url("../images/fundbg.png") repeat-x ;
	background-size: contain;
	color: #fff;
	box-shadow: 0.1rem 1rem 1.5rem 0 #dadada;
}
/*头部返回键*/
.fund-head a:nth-child(1) {
	display: block;
	float: left;
	width: 14.84%;
	height: 3.33rem;
	background:  url("../images/fund17.png")  no-repeat center center;
	background-size: contain ;
}
/*购买*/
.fund-head a:nth-child(3) {
	float: right;
	width: 15.94%;
	height: 3.33rem;
	text-align: center;
	line-height: 3.33rem;
	color: #fff;
	font-size: 1.17rem;
}
/*头部文字*/
.fund-head h1 {
	overflow: hidden;
	float: left;
	width: 69.22%;
	height: 3.33rem;
	line-height: 2.70rem;
	text-align: center;
}
.fund-head h1 strong {
	display: block;
	height: 1.33rem;
	font-size: 1.33rem;
}
.fund-head h1 span {
	font-size: 0.83rem;
}

/* 表格内容 */
.fangda-table ul {
	width: 96.88%;
	margin-top: 4.33rem;
	padding: 0.38rem 1.56% 0.92rem;
	background: #fff;
}
.fangda-table li {
	width: 100%;
	height: 2.92rem;
	line-height: 2.92rem;
}
.fangda-table li strong, .fangda-table li em {
	display: block;
	float: left;
	width: 26.60%;
	height: 2.90rem;
	padding-left: 3.14%;
	border: 0.1rem solid  #dcdcdc;
	color : #999;
}
.fangda-table li em {
	width: 65.51%;
	height: 2.90rem;
	text-align: center;
	color: #000;
}
.fangda-table li:nth-child(4) em {
	color: red;
}
.word {
	padding-bottom: 2.33rem;
	background: #fff;
	text-align: center;
	font-size: 1.17rem;
}
.word h2 {
	width: 100%;
	height: 3.33rem;
	background: #eee;
	line-height: 3.33rem;
	font-size: 1.17rem;
}
.word p {
	width: 87.81%;
	padding: 0 7.03% 0 5.16%;
	background: #fff;
	text-align: left;
	text-indent: 2rem;
}
section .word p:nth-child(2) { 
	padding-top: 1.83rem ;
}

.fangda-pic {
	background: #fff;
}
.fangda-pic a {
	display: block;
	float: left;
	width: 20%;
	height: 3.33rem;
	background: #eee;
	text-align: center;
	line-height: 3.33rem;
	font-size: 1.17rem;
	color: #999;
}
.fangda-pic .fd-pic {
	color: #000;
}
.fangda-pic img {
	width: 100%;
	height: 14.25rem;
}


/*.date-data {
	width: 100%;
	padding-bottom: 4rem;
}*/
/*.date-data thead tr {
    width: 100%;
    height: 3.33rem;
    background: #eee;
}*/
/*.date-data thead th {
    box-shadow: 0 0.05rem 0 0 #ccc;
    text-align: center;
    font-size: 1.17rem;
}*/
/*.date-data tbody tr {
    width: 96%;
    height: 3.33rem;
    padding: 0 2%;
    background: #fff;
    border-bottom: 10px solid #ccc;
    text-align: center;
    line-height: 3.33rem;
    font-size: 1.17rem;
}*/
/*.date-data tbody td {
    overflow: hidden;
    width: 25%;
    height: 3.13rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 0.1rem 0 0 #ccc;
}*/
/*.date-data tbody em {
	color: red;
}*/
/*.date-data .res {
	display: block;
	width: 5.71rem;
	height: 2.5rem;
	margin: 0.32rem auto 0;
	border-radius: 0.5rem;
	background: #d50000;
	line-height: 2.5rem; 
	color: #fff;
	box-shadow: 0 0.1rem 0 0 #ccc;
}*/




/*底部导航模块*/
.fund-fangda .footer {
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	max-width: 640px;
	height: 4.83rem;
	background: #f2f2f2;
	border: 1px solid #e0e0e0;

}
.fund-fangda .footer a {
	float: left;
	width: 25%;
	height: 1.83rem;
	padding-top: 3rem;
	text-align: center;
	color: #3d3d3d;
}
.fund-fangda .footer a:nth-child(1) {
	background: url("../images/footer-1.png") no-repeat center 0.58rem;
	background-size: 30%;
}
.fund-fangda .footer a:nth-child(2) {
	background: url("../images/footer-2.png") no-repeat center 0.58rem;
	background-size: 35%;	
}
.fund-fangda .footer a:nth-child(3) {
	background: url("../images/footer-3.png") no-repeat center 0.58rem;
	background-size: 40%;	
}
.fund-fangda .footer a:nth-child(4) {
	background: url("../images/footer-4.png") no-repeat center 0.58rem;
	background-size: 29%;	
}