@charset 'utf-8';
 html, body {
 	margin: 0 auto;
 	
 }
 /* 基金涨跌幅 */
.fund-vip {
	width: 100%;
	height: 100%;
	margin: 0 auto 4.83rem;
}
.fund-head {
	position: fixed;
	top: 0;
	z-index: 2;
	max-width: 640px;
	width: 100%;
	height: 3.33rem;
	background: url("../images/fundbg.png") repeat-x ;
	background-size: contain;
	color: #fff;
	box-shadow: 0.1rem 0 0 0 #000;
}
/*头部返回键*/
.fund-head a {
	display: block;
	float: left;
	width: 14.84%;
	height: 3.33rem;
	background:  url("../images/fund17.png")  no-repeat center center;
	background-size: contain ;
}

/*头部文字*/
.fund-head h1 {
	overflow: hidden;
	float: left;
	width: 69.22%;
	height: 3.33rem;
	padding-right: 15.94%;
	line-height: 3.33rem;
	text-align: center;
	font-size: 1.5rem;
}


/*内容导航模块*/
.vip-nav {
	overflow: hidden;
	width: 96.88%;
	height: 3.33rem;
	margin: 3.33rem 0 0.42rem; 
	padding: 0 1.56% 0.42rem;
	background: #fff;
	color: #fff;
}
.vip-nav input {
	width: 95%;
	height: 2.42rem;
	padding-left: 5%;
	margin: 0.67rem 0 0;
	background: #eee url("../images/fund3.png") no-repeat 95% center;
	background-size: 8%;
	border-radius: 0.3rem;
	color: #999;

}




/*.date-data {
	width: 100%;
}
.date-data thead tr {
    width: 100%;
    height: 3.33rem;
    background: #eee;
}*/
/*.date-data thead th {
    box-shadow: 0 0.05rem 0 0 #ccc;
    text-align: center;
    font-size: 1.17rem;
    color: #999;
}
.date-data .head-con {
	color: #000;
}*/
/*.date-data tbody tr {
    width: 96%;
    height: 3.33rem;
    padding: 0 2%;
    background: #fff;
    border-bottom: 10px solid #ccc;
    text-align: center;
    font-size: 0.83rem;
}*/
/*.date-data tbody td {
    overflow: hidden;
    width: 25%;
    height: 3.13rem;
    background: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 0.1rem 0 0 #ccc;
}*/
/*.date-data tbody em, .date-data tbody i {
	display: block;
}
.date-data tbody em {
	font-size: 1.17rem;
}*/
/*.date-data tbody i {
	font-size: 1.5rem;
	color: red;
}*/
/*.date-data .res {
	display: block;
	width: 5.71rem;
	height: 2.5rem;
	margin: 0.32rem auto 0;
	border-radius: 0.5rem;
	background: #d50000;
	line-height: 2.5rem; 
	color: #fff;
	box-shadow: 0 0.1rem 0 0 #ccc;
}*/
/*底部导航模块*/
.fund-vip .footer {
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	max-width: 640px;
	height: 4.83rem;
	background: #f2f2f2;
	border: 1px solid #e0e0e0;

}
.fund-vip .footer a {
	float: left;
	width: 25%;
	height: 1.83rem;
	padding-top: 3rem;
	text-align: center;
	color: #3d3d3d;
}
.fund-vip .footer a:nth-child(1) {
	background: url("../images/footer-1.png") no-repeat center 0.58rem;
	background-size: 30%;
}
.fund-vip .footer a:nth-child(2) {
	background: url("../images/footer-2.png") no-repeat center 0.58rem;
	background-size: 35%;	
}
.fund-vip .footer a:nth-child(3) {
	background: url("../images/footer-3.png") no-repeat center 0.58rem;
	background-size: 40%;	
}
.fund-vip .footer a:nth-child(4) {
	background: url("../images/footer-4.png") no-repeat center 0.58rem;
	background-size: 29%;	
}