@charset "utf-8";

html, body {
	height: 100%;
	margin: 0 auto;
}
.index {
	position: relative;
	overflow: hidden;
	/*width: 100%;*/
	height: 120%;
}
.index .side {
	position: absolute;
	left: -80%;
	width: 80%;
	height: 100%;
	background: #303031;
	z-index: 99;
}
.index .center {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 3.33rem;
}

.index .side dl {
	padding-left: 10%;
	margin-bottom: 3.13rem;
	padding-top: 0.63rem;
}
.index .side dt,
.index .side img {
	width: 7.08rem;
	height: 7.08rem;
}
.index .side dd, .index .side dt {
	float: left;
	color: #c6c6c6;
}
.index .side dt {
	margin-right: 7%;
}
.index .side dd {
	padding-top: 1rem;
}
.index .side .user {
	margin-bottom: 0.72rem;
	font-size: 2.5rem;
}
.index .side .address {
	padding-left: 24%;
	background: url("../images/position.png") no-repeat;
	background-size: 14%;
	font-size: 1.17rem;
}

.index .side .login,
.index .side .info {
	display: block;
	height: 3.75rem;
	padding-left: 10%;
	background: url("../images/user-arrow.png") no-repeat 85% center;
	background-size: 4%;
	line-height: 3.75rem;
	color: #c6c6c6;
	font-size: 1.33rem;
	box-shadow: 0 2px 0 #404041,
				0 -2px 0 #404041;
}
.index .side .info {
	box-shadow: 0 2px 0 #404041;
}



.index .swiper-container {
	width: 100%;
	height: 14rem;
	margin-bottom: 2.25rem; 
}
.index .swiper-container img {
	width: 100%;
	height: 14rem;
}
.index .nav {
	width: 89%;
	height: 16.85rem;
	margin: 0 auto 9rem;
}
.index .nav a {
	float: left;
	width: 22%;
	height: 1.2rem;
	margin-right: 4%;
	margin-bottom: 1.88rem;
	padding-top: 5.83rem;
	background: #cfc;
	font-size: 1.08rem;
	text-align: center;
	color: #222;
} 
.index .nav a:nth-child(4), 
.index .nav a:nth-child(8) {
	margin-right: 0;
}
.index .nav a:nth-child(1) {
	background: url("../images/nav1.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(2) {
	background: url("../images/nav2.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(3) {
	background: url("../images/nav3.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(4) {
	background: url("../images/nav4.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(5) {
	background: url("../images/nav5.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(6) {
	background: url("../images/nav6.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(7) {
	background: url("../images/nav7.png") no-repeat;
	background-size: 100%;
}
.index .nav a:nth-child(8) {
	background: url("../images/nav8.png") no-repeat;
	background-size: 100%;
}