@charset 'utf-8';
 html, body {
 	/*height: 100%;*/
 	margin: 0 auto;
 	background: #f2f2f2;
 }
 /* 基金首页 */
.info_management {
	width: 100%;
	height: 100%;
	margin: 0 auto ;
}
.info_management-head {
	position: fixed;
	top: 0;
	z-index: 2;
	max-width: 640px;
	width: 100%;
	height: 3.42rem;
	background: #ca0000 ;
	line-height: 3.42rem;
	color: #fff;
	font-size: 1.5rem;
}
/*头部返回键*/
.info_management-head a {
	display: block;
	float: left;
	width: 14.84%;
	height: 3.33rem;
	background:  url("../images/fund17.png")  no-repeat center center;
	background-size: contain ;
}
/*头部文字*/
.info_management-head h1 {
	float: left;
	width: 57.81%;
	padding-left: 27.35%;

}
/*大图滚动模块*/
.info_management-pic img {
	width: 100%;
	height: 14rem;
	margin-top: 3.42rem;
	margin-bottom:  1.88rem ;
}
/*内容模块*/
.info_management section {
	width: 100%;
	min-height: 28.21rem;
	margin-bottom: 4.83rem;
}
.info_management-main {
	padding-left: 7%;
}
.info_management-main li {
	float: left;
	margin: 0 3.5% 1.88rem 0 ;
	text-align: center;
	font-size: 1.08rem;
}

.info_management-main li  a {
	display: block;
	width: 5.17rem;
	height: 5.17rem;
	margin-bottom: 0.58rem;
	border-radius: 20%;
	background: #ce3c2c url("../images/fund5.png") no-repeat center center;
	background-size: 60%
}
.info_management-main li:nth-child(2) a {
	background: #679dd2 url("../images/fund4.png") no-repeat center center;
	background-size: 73%
}
.info_management-main li:nth-child(3) a {
	background: #c66018 url("../images/fund1.png") no-repeat center center;
	background-size: 72%
}
.info_management-main li:nth-child(4) a {
	background: #45537b url("../images/fund8.png") no-repeat center center;
	background-size: 60%
}

/*底部导航模块*/
.info_management .footer {
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	max-width: 640px;
	height: 4.83rem;
	border: 1px solid #e0e0e0;
	background: #f2f2f2;
}
.info_management .footer a {
	float: left;
	width: 25%;
	height: 1.83rem;
	padding-top: 3rem;
	text-align: center;
	color: #3d3d3d;
}
.info_management .footer a:nth-child(1) {
	background: url("../images/footer-1.png") no-repeat center 0.58rem;
	background-size: 30%;
}
.info_management .footer a:nth-child(2) {
	background: url("../images/footer-2.png") no-repeat center 0.58rem;
	background-size: 35%;	
}
.info_management .footer a:nth-child(3) {
	background: url("../images/footer-3.png") no-repeat center 0.58rem;
	background-size: 40%;	
}
.info_management .footer a:nth-child(4) {
	background: url("../images/footer-4.png") no-repeat center 0.58rem;
	background-size: 29%;	
}
