@charset "utf-8";

/* 
* @Author:   YMT
* @Date:   2015-11-06 9:04
* @Last Modified by:   anchen
* @Last Modified time: 2015-11-06 11:09
* 新闻页
*/
/* 研发资讯页, 消息推送页 */

 /* 头部标题 */
.news-list header, .title-page header, .com-tit header, .research-information header,
.fund-content header, .fund-infomation header, .management-info header,
.message-push header, .new-content header, .account-consultation header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.42rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.42rem;
    color: #fff;
    background: #c60001;
    box-shadow: 0.1rem 1rem 1.5rem 0 #dadada;
    z-index: 99;
}
.news-list header a, .title-page header a, .com-tit header a, .research-information header a, 
.fund-content header .left, .fund-infomation header a, .management-info header a,
.message-push header a, .new-content header .left, .account-consultation header .left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: 3.42rem;
    background:  url(../images/arrowL.png) 0 0 no-repeat;
    background-size: contain;
}
/* 搜索框 */
.news-list form, .message-push form {
    position: relative;
    width: 97%;
    height: 2.5rem;
    padding: 3.92rem 1.5% 0.5rem;
    background: #fff;
}
.news-list form input, .message-push form input {
    width: 97%;
    height: 2.5rem;
    padding-left: 3%;
    border: 1px solid #666;
    border-radius: 0.3rem;
    outline: none;
    -webkit-appearance:none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.news-list form span, .message-push form span {
    position: absolute;
    top: 4.32rem;
    right: 6%;
    display: block;
    width: 6%;
    height: 1.54rem;
    background: url(../images/search.png) 0 0 no-repeat;
    background-size: contain;
}
/* 下拉列表 */
.news-list .con {
    width: 100%;
    height: 33.96rem;
    padding-bottom: 4rem;
}
.message-push .con {
    width: 100%;
    height: 33.96rem;
    padding-top: 3.52rem;
}
.news-list ul, .message-push ul {
    overflow: hidden;
    width: 100%;
    height: 3.42rem;
    margin-bottom: 0.1rem;
    box-shadow: 0 0.1rem 0 0 #d12626;
}
.news-list ul:nth-child(1), .message-push ul:nth-child(1) {
    border: 0;
}
.news-list ul:nth-child(2), .message-push ul:nth-child(2) {
    box-shadow: 0.1rem 0.1rem 0 0 #d12626;
}
.news-list .con .nav-li, .message-push .con .nav-li {
    width: 100%;
    height: 3.42rem;
    padding: 0;
    border: 0;
    background: #f3f3f3;  
}
.news-list .con .nav-li span, .message-push .con .nav-li span {
    font-size: 1.17rem;
    color: #000;
}
.news-list .con .nav-li .left, .message-push .con .nav-li .left {
    float: left;
    width: 13%;
    height: 3.42rem;
    background: url(../images/con-arrow.png) 0 0 no-repeat;
    background-size: contain;
}
.news-list .con .nav-li .nav-con, .message-push .con .nav-li .nav-con {
    float: left;
    width: 75%;
    height: 3.42rem;
    line-height: 3.42rem;
    font-size: 1.17rem;    
}
.news-list .con .nav-li .right {
    float: left;
    width: 12%;
    height: 3.42rem;
    background: url(../images/ellipsis.png) 0 0 no-repeat;
    background-size: contain;
}
.news-list ul li, .message-push ul li {
    padding: 0.63rem 0 0.63rem 4%;
    margin-bottom: 0.1rem;
    box-shadow: 0rem 0.1rem 0 0 #cccccc;
    background: #fff;
}
.news-list li h2, .title-page li h2, .com-tit li h2, .research-information li h2, .fund-infomation li h2,
.management-info li h2, .message-push li h2 {
    width: 100%;
    height: 1.71rem;
    font-size: 1.17rem;
    line-height: 1.71rem;
    color: #535353;
}
.news-list li span, .title-page li span, .com-tit li span, .research-information li span, .fund-infomation li span,
.management-info li span, .message-push li span {
    display: block;
    width: 30%;
    height: 1.2rem;
    font-size: 0.92rem;
    line-height: 1.2rem;
    color: #b5b5b5;
}
/*专题报告标题页 公司公告标题页,基金资讯页,资管资讯页  */
/*列表样式*/
.title-page ul, .com-tit ul, .com-tit ul, .research-information ul, .fund-infomation ul,
.management-info ul {
    width: 96%;
    margin-top: 3.42rem;
    padding: 1rem 2% 0;
    background: #ffffff;
}
.title-page li, .com-tit li, .research-information li, .fund-infomation li,
.management-info li {
    padding: 0.63rem 0;
    margin-bottom: 0.1rem;
    box-shadow: 0 0.1rem 0 0 #ccc;
}
.title-page .load,.com-tit .load, .research-information .load, .fund-infomation .load,
.management-info .load {
    display: none;
    width: 50%;
    height: 3rem;
    margin: 0 auto 5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #776363;
}
/* 新闻内容页 */
.fund-content header .share, .new-content header .share,
.account-consultation header .share {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 11%;
    height: 3.42rem;
    background: url(../images/share.png) 0 0 no-repeat;
    background-size: contain;
}
 /* 文章内容 */
.fund-content article, .new-content article {
    width: 100%;
    padding-top: 4.42rem;
    padding-bottom: 1.83rem;
    text-align: center;
}
.fund-content article h2, .new-content article h2 {
    width: 100%;
    font-size: 1.33rem;
    line-height: 3.33rem;
}
.fund-content article .article-data, .new-content article .article-data {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 0.83rem;
    color: #999999;
    box-shadow: 0 0.1rem 0 0 #cccccc;
} 
.fund-content .con, .new-content .con {
    overflow: hidden;
    padding: 1rem 4% 0 4%;
}
.fund-content article p, .new-content article p {
    text-align: left;
    line-height: 2.33rem;
    text-indent: 2em;
    font-size: 1.17rem;
}
/* 在线资讯页 */
/* 在线客服首页 */
.online {
	width: 100%;
	height: 100%;
	margin: 0 auto ;
}
.online-head {
	position: fixed;
	top: 0;
	z-index: 2;
	max-width: 640px;
	width: 100%;
	height: 3.42rem;
	background: #ca0000 ;
	line-height: 3.42rem;
	color: #fff;
	font-size: 1.5rem;
}
/*头部返回键*/
.online-head a {
	display: block;
	float: left;
	width: 14.84%;
	height: 3.33rem;
	background:  url("../images/fund17.png")  no-repeat center center;
	background-size: contain ;
}
/*头部文字*/
.online-head h1 {
	float: left;
	width: 57.81%;
	padding-left: 27.35%;
}
/*大图滚动模块*/
.online-pic img {
	width: 100%;
	height: 14rem;
	margin-top: 3.42rem;
	margin-bottom:  1.88rem ;
}
/*内容模块*/
.online section {
	width: 100%;
	min-height: 28.21rem;
	margin-bottom: 4.83rem;
}
.online-main {
	padding:0 0.78% 0 6%;
}
.online-main li {
	float: left;
	margin: 0 4% 1.88rem 0 ;
	text-align: center;
	font-size: 1.08rem;
}
.online-main li  a {
	display: block;
	width: 5.17rem;
	height: 5.17rem;
	margin-bottom: 0.58rem;
	border-radius: 20%;
	background: #df4f3a url("../images/talk.png") no-repeat center center;
	background-size: contain;
}
.online-main li:nth-child(2) a {
	background: #ee892c url("../images/talk-fund.png") no-repeat center center;
	background-size: contain;
}
.online-main li:nth-child(3) a {
	background: #0c8aac url("../images/talk-money.png") no-repeat center center;
	background-size: contain;
}
/* 开户咨询页 */
.account-consultation .remind {
    width: 93%;
    height: 4.5rem;
    padding: 5.08rem 0 0 7%;
    background: #f3f3f3;
    text-align: left;
    font-size: 1.17rem;
}
.account-consultation .remind a {
    color: #d50000;
}
.account-consultation .account-nav {
    width: 95%;
    height: 3.79rem;
    padding: 2.29rem 0 0 5%;
}
.account-consultation .account-nav span {
    float: left;
    width: 45%;
    height: 3.78rem;
    margin-right: 5%;
    border-radius: 0.3rem;
    background: #f3f3f3;
    text-align: center;
    line-height: 3.79rem;
}
.account-consultation .account-nav .select-nav {
    background: #f9be4b;
}
.account-consultation .account-con {
    width: 88%;
    height: 6.5rem;
    padding: 2.29rem 6% 2rem 6%;
} 
.account-consultation .account-con span {
    display: none;
    float: left;
    width: 100%;
    line-height: 2.2rem;
    text-align: left;
    color: #4b4b4b;   
}
.account-consultation .account-con .select-con {
    display: block;
}
.account-consultation .btn {
    display: block;
    width: 88%;
    height: 3.42rem;
    margin: 2.0rem 0 0 5%;
    border-radius: 0.3rem;
    background: #c81011;
    text-align: center;
    line-height: 3.42rem;
    font-size: 1.5rem;
    color: #fff;
}
/*正在加载*/
.ser-report-load {
    height: 5.83rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.ser-report-load div {
    width: 4.16rem;
    height: 3.16rem;
    margin: 0 auto;
    background: url("../images/lazy1.gif") center center no-repeat;
    background-size: contain;
}
.ser-report-load p {
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    color: #4d4d4d;
}